<%layout('layouts/boilerplate')%>
<h1>All Campgrounds</h1>
<ul>
  <% for(let level of levels){%>
  <li><a href="/levels/<%= level._id %> " class="<%= level.locked ? "disable" : "" %>" ><%= level.number %> </a></li>
  <% } %>
</ul>
