<%layout('layouts/boilerplate')%>

<h1>Signup</h1>
<% if (error) { %>
<h2>Username already taken</h2>
<% } %>
<form action="" method="POST">
  <input type="text" name="username" placeholder="Username" />
  <button>Lets Go</button>
</form>
