body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
h1 {
  font-family: "Emilys Candy", cursive;
  font-size: 6rem;
}
h2 {
  font-size: 1.6rem;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(var(--r), 20vh);
  grid-template-rows: repeat(var(--r), 20vh);
  place-items: center;
  align-content: center;
}
.candy {
  cursor: pointer;
  --d: 18vh;
  height: var(--d);
  width: var(--d);
  border-radius: 50rem;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  box-shadow: inset 6px 5px 5px 2px rgba(255, 255, 255, 0.25),
    inset 4px 2px 5px 0px rgba(2, 99, 116, 0.39),
    2px 1px 2px 1px rgba(0, 0, 0, 0.57), 1px 1px 2px 1px #fff;
  animation: rotate 0.8s linear infinite;
}
.overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e4c1f9;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.candy.clicked {
  animation: rotate 0.8s linear infinite, pulse 0.3s linear 1;
}
.candy.clicked .overlay {
  opacity: 1;
}
.red:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: calc(var(--d) / 5) solid transparent;
  border-right: calc(var(--d) / 5) solid transparent;
  border-bottom: calc(var(--d) / 2) solid #ef3054;
}
.red:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: calc(var(--d) / 5) solid transparent;
  border-bottom: calc(var(--d) / 5) solid transparent;
  border-right: calc(var(--d) / 2) solid #ef3054;
}
.red.red:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: calc(var(--d) / 5) solid transparent;
  border-right: calc(var(--d) / 5) solid transparent;
  border-top: calc(var(--d) / 2) solid #ef3054;
}
.red:nth-of-type(4) {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: calc(var(--d) / 5) solid transparent;
  border-bottom: calc(var(--d) / 5) solid transparent;
  border-left: calc(var(--d) / 2) solid #ef3054;
}
.correct img {
  position: absolute;
  z-index: 5;
  height: 150px;
  mix-blend-mode: lighten;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  40% {
    transform: scale(1.4);
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f766;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-body {
  text-align: center;
}
.modal-body h3 {
  font-family: "Emilys Candy", cursive;
  color: #ce1483;
  text-shadow: 0 0 10px #ce1483;
  font-size: 4.5rem;
}
.modal p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 800;
}
.modal button {
  background-color: #ce1483;
  border-radius: 1rem;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.3s ease;
}
.modal button:hover {
  box-shadow: 0 0 10px 0 #ce1483;
}
.modal.show {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
#timer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #ce1483;
  text-shadow: 0 0 10px #ce1483;
  width: 150px;
  height: 150px;
  border-bottom-right-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timerText {
  text-align: center;
  font-size: 2rem;
  transform: rotate(-45deg);
  margin-right: 30px;
  margin-bottom: 30px;
}
#home {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  color: #ce1483;
  text-shadow: 0 0 10px #ce1483;
  width: 150px;
  height: 150px;
  border-bottom-left-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home img {
  transform: rotate(45deg);
  margin-left: 30px;
  margin-bottom: 30px;
  height: 2rem;
  filter: invert(15%) sepia(100%) saturate(5540%) hue-rotate(315deg)
    brightness(87%) contrast(89%);
  cursor: pointer;
}
